<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login Page</title>
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link href="{% static 'css/login.css' %}" rel="stylesheet">
</head>
<body>
  <main>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 login-section-wrapper">
          <div class="brand-wrapper">
            <a href="{% url 'index' %}"><img src="{% static 'img/logo.svg' %}" alt="logo" class="logo"></a>
          </div>
          <div class="login-wrapper my-auto">
            <h2 class="login-title">Login</h2>
            <form method="post">
              {% csrf_token %}
              <div class="form-group">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" class="form-control" placeholder="enter your username">
              </div>
              <div class="form-group mb-4">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="form-control" placeholder="enter your passsword">
              </div>
              {% if messages %}
              {% for message in messages %}
              <div class="alert alert-danger" role="alert">{{ message }}</div>
              {% endfor %}
              {% endif %}
              <input class="btn btn-block login-btn" type="submit" value="Login">
            </form>
            <p class="login-wrapper-footer-text">Don't have an account? <a href="{% url 'user_register' %}">Register here</a></p>
          </div>
        </div>
        <div class="col-sm-6 px-0 d-none d-sm-block">
          <img src="{% static 'img/login.jpg' %}" alt="login image" class="login-img">
        </div>
      </div>
    </div>
  </main>
</body>
</html>
