<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Registration Page</title>
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link href="{% static 'css/login.css' %}" rel="stylesheet">
</head>

<body>
  <main>
    <div class="container-fluid">
      <div class="row mp-0">
        <div class="col-sm-6 login-section-wrapper">
          <div class="brand-wrapper">
            <a href="{% url 'index' %}"><img src="{% static 'img/logo.svg' %}" alt="logo" class="logo"></a>
          </div>
          <div class="login-wrapper m-0">
            <h3 class="login-title mb-2">Register</h3>
            <form method="post">
              {% csrf_token %}
              <div class="form-group mb-2">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" class="form-control" placeholder="enter the username">
              </div>
              <div class="form-group mb-1">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" class="form-control" placeholder="email@example.com">
              </div>
              <div class="form-group mb-1">
                <label for="phone_no">Phone Number</label>
                <input type="text" name="phone_no" id="phone_no" class="form-control" placeholder="91 XXXXXXXXXX">
              </div>
              <div class="form-group mb-1">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="form-control"
                  placeholder="enter your passsword">
              </div>
              <div class="form-group mb-2">
                <label for="confirm_password">Confirm Password</label>
                <input type="password" name="confirm_password" id="confirm_password" class="form-control"
                  placeholder="re-enter your passsword">
              </div>
              {% if messages %}
              {% for message in messages %}
              <div class="alert alert-danger" role="alert">{{ message }}</div>
              {% endfor %}
              {% endif %}
              <input class="btn btn-block login-btn" type="submit" value="Register">
            </form>
            <p class="login-wrapper-footer-text">Already have an account? <a href="{% url 'user_login' %}">Login</a></p>
          </div>
        </div>
        <div class="col-sm-6 px-0 d-none d-sm-block">
          <img src="{% static 'img/register_page.jpeg' %}" alt="login image" class="login-img">
        </div>
      </div>
    </div>
  </main>
</body>

</html>