{% extends 'core/base.html' %}
{% load static %}
{% load cart_template_tag %}

{% block title %}: Checkout Address{% endblock %}

{% block head %}
<style>
    body {
        background: #f6f6f7;
    }

    .country-select-flag {
        display: none;
    }

    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }
</style>
{% endblock %}

{% block content %}
<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">

</section>
<!-- End Breadcrumbs -->

<div class="container">
    <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Your cart</span>
            </h4>
            <ul class="list-group mb-3">
                {% for order_item in order.order_items.all %}
                <li class="list-group-item py-3 d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">{{ order_item.product.name }}</h6>
                        <small class="text-muted">{{ order_item.product.category }}</small>
                    </div>
                    <span class="text-muted">{{ order_item.quantity }} x &#8377;{{ order_item.product.price }}</span>
                </li>
                {% endfor %}
                <li class="list-group-item py-3 d-flex justify-content-between">
                    <span>Total ({{ request.user | cart_count }} Items)</span>
                    <strong>&#8377;{{ order.get_total_price }}</strong>
                </li>
            </ul>
        </div>
        <div class="col-md-8 order-md-1">
            <h4 class="mb-3">Billing address</h4>
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="street_address">Street Address</label>
                    {{ form.street_address }}
                </div>
                <div class="mb-3">
                    <label for="apartment_address">Apartment Address</label>
                    {{ form.apartment_address }}
                </div>
                <div class="row">
                    <div class="col-md-7 mb-3">
                        <label for="country">Country</label>
                        {{ form.country }}
                    </div>
                    <div class="col-md-5 mb-3">
                        <label for="zip_code">Zip Code</label>
                        {{ form.zip_code }}
                    </div>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    {% if messages %} 
                    {% for message in messages %}
                    <div class="alert alert-success alert-dismissible fade show messages" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %} 
                    {% endif %}
                </div>
                <input id="place_order" type="submit" class="btn btn-primary btn-lg"
                    value="Place the Order" />
            </form>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
<script>
    window.jQuery ||
        document.write(
            '<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>'
        );
</script>
<script src="https://getbootstrap.com/docs/4.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous">
    </script>
<script src="https://getbootstrap.com/docs/4.3/examples/checkout/form-validation.js"></script>
{% endblock %}