{% extends 'core/base.html' %}
{% load static %}
{% block title %}: {{ product.name }} {% endblock %}
{% block content %}

<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <!-- <h2>{{ product.category }}</h2> -->
        <ol>
          <li><a href="{% url 'index' %}">Home</a></li>
          <li>{{ product.category }}</li>
        </ol>
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
      </div>
    </div>
  </section><!-- End Breadcrumbs -->

  <!-- ======= Portfolio Details Section ======= -->
  <section id="portfolio-details" class="portfolio-details">
    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-8">
          <div class="portfolio-details-slider swiper">
            <div class="swiper-wrapper align-items-center">
              <div class="swiper-slide">
                <img src="{{ product.image.url }}" alt="">
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="portfolio-info">
            <h3>{{ product.name }}</h3>
            {% if product.product_count > 20 %}
            <b style="color: green;">In Stock</b>
            {% elif product.product_count > 0 %}
            <b style="color: rgb(248, 199, 53);">Limtited Stock</b>
            {% else %}
            <b style="color: rgb(255, 0, 0);">Out of Stock</b>
            {% endif %}
            <ul>
              <li><strong>Category: </strong>{{ product.category.name }}</li>
              <li><strong>Price: </strong>&#8377;{{ product.price }}</li>
            </ul>
            <a href="{% url 'add_to_cart' product.pk %}" type="button" class="btn btn-outline-success btn-block">Add to Cart</a>
          </div>
          <div class="portfolio-description">
            <b>Aboout this Product</b>
            <p>{{ product.description }}</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->

{% endblock %}